<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">

   <Appenders>
      <Console name="Console" target="SYSTEM_OUT">
         <PatternLayout/>
      </Console>
   </Appenders>

   <Loggers>
      <Root level="trace">
         <AppenderRef ref="Console" />
      </Root>
   </Loggers>

</Configuration>